{% extends 'pfm/test/mainclient.html' %}

{% block content %}

            <h2
              class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
            >
            Replacement Requests History
            </h2>
            <!-- CTA -->
          



            <!-- With actions -->
            <h4
              class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
            >
            Replacement Requests Table
            </h4>
            <div class="w-full overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                    <th class="px-4 py-3">Request ID</th>
                    <th class="px-4 py-3">vehicle</th>
                    <th class="px-4 py-3">modele</th>
                    <th class="px-4 py-3">Reason</th>
                    <th class="px-4 py-3">Status</th>
                    <th class="px-4 py-3">Date</th>
                    </tr>
                  </thead>
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                  {% for remplcement in remplcements%}
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="px-4 py-3 text-sm">
                        {{remplcement.id}}
                      </td>
                      <td class="px-4 py-3 text-sm">
                          {{remplcement.vechule.immatriculation}}
                      </td>
                      <td class="px-4 py-3 text-sm">
                          {{remplcement.vechule.modele}}
                      </td>
                      <td class="px-4 py-3 text-sm">
                        {{remplcement.issuetype}}
                      </td>
                      <td class="px-4 py-3 text-xs">
                        {% if remplcement.status == "Pending" %}
                          <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:bg-red-700 dark:text-red-100">
                            {{ remplcement.status }}
                          </span>
                        {% elif remplcement.status == "Completed" %}
                          <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                            {{ remplcement.status }}
                          </span>
                        {% else %}
                          <span class="px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:bg-red-700 dark:text-red-100">
                            {{ remplcement.status }}
                          </span>
                        {% endif %}
                      </td>
                      <td class="px-4 py-3 text-sm">
                        {{remplcement.date_envoi}}
                    </td>
                    </tr>
                    {% endfor %}
                

                  </tbody>
                </table>
              </div>
           
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>

{% endblock %}